
* {
  box-sizing: border-box;
}

h2{
  font-size: 30px;
  margin-right: 950px;
  margin-top: 45px;
}
/* Style the body */
body {
  width: 100%;
  /* Set the height to match that of the viewport. */
  
  min-height: 100vh;
  height: max-content;

/* Set the width to match that of the viewport. */
  width: 100vw;

/* Remove any browser-default margins. */
  font-family: Arial;
  margin: 0;
  background-color: #004aad;
  background-image: linear-gradient(to bottom right, #004aad, black);
  padding: 20px;
}

.home{
  flex: 100%;
  margin: auto;
  text-align: center;
  align-content: center;
  color: white;
}
.home h1{
  font-size: 100px;
}
.home p{
  font-size: 20px;
}
/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

.pagetittle{
  margin: auto;
  width: 80%;
  height: max-content;
  padding-bottom: 20px;
  color: white;
  font-size: xx-large;
  text-align: center;
}
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 50%;
  padding: 30px;
}
.side a{
  font-size: medium;
  color: white;
}
.side i{
  vertical-align: middle;
}

/* Main column */
.main {
  flex: 50%;
  padding: 30px;  

}

/* Fake image, just for this example */
.fakeimg {
  margin: auto;
  background-color: #004aad;
  color: white;
  height:100%;
  width: 80%;
  padding: 30px;
}


/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

.checked {
  color: orange;
}

.image{
  flex: 10%;
}
.textwe{
  flex: 80%;
  padding-left: 16px;
  color: white;
  font-size: 30px;
  text-align: left;
}


#myInput{
   background-image: url('/css/searchicon.png');/* Add a search icon to input */
   background-position: 10px 12px;/* Position the search icon */
    background-repeat:no-repeat;/* Do not repeat the icon image */
    width:100%;/* Full-width */
    font-size:16px;/* Increase font-size */
    padding:12px 20px 12px 40px;/* Add some padding */
    border:1px solid #ddd;/* Add a grey border */
    margin-bottom:12px;/* Add some space below the input */
  }
  #myUL{
    /* Remove default list styling */
    list-style-type:none;
    padding:0;
    margin:0;
  }
  #myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
     margin-top:-1px;/* Prevent double borders */
     background-color:#f6f6f6;/* Grey background color */
     padding:12px;/* Add some padding */
     text-decoration:none;/* Remove default text underline */
     font-size:18px;/* Increase the font-size */
     color:black;/* Add a black text color */
    display:block;/* Make it into a block element to fill the whole list */
  }
  #myUL li a:hover:not(.header){
     background-color: #eee;/* Add a hover effect to all links, except for headers */
  }


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {

  .row {
    flex-direction: column;
  }
  .home h1{
    font-size: 40px;
  }

}

